version: '3'

services:
  basedbot:
    build: .
    volumes_from:
    - redis
    volumes:
    - ${FIREBASE_KEY_PATH:-/dev/null}:/firebase-adminsdk.json:ro
    environment:
      PYPY_GC_MAX: 4GB
      PYPY_GC_MIN: 2GB
      REDIS_URI: unix:///tmp/redis.sock
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
      VK_BOT_TOKEN: ${VK_BOT_TOKEN}
      DEBUG: ${DEBUG}
      STATS: ${STATS}
      STATS_CHAT: ${STATS_CHAT}
      FIREBASE_DB_URL: ${FIREBASE_DB_URL}
      ANSWERS_CHAT: ${ANSWERS_CHAT}
    depends_on:
      - redis
  redis:
    image: redis:6-alpine
    command: redis-server --unixsocket /tmp/redis.sock --unixsocketperm 777 --appendonly yes
    volumes:
    - /tmp
    - redis-data:/data

volumes:
  redis-data:
